@model SoftwareHouseWeb.ViewModel.OrderViewModel.OrderViewModel
@using SoftwareHouseWeb.Data.Models.Orders
<!-- order summary -->

<div class="main-summary">
    <div class="sum-head">
        <h1>
            Order Summary
        </h1>
    </div>
    <div class="sum-details">
        <div class="details-headings">
            <h1 class="h1">Order Details</h1>
            <h1 class="h2">Price</h1>

        </div>
        @foreach (var package in Model.OrderPackages)
        {
            <div class="orders-content order-1">
                <div class="order-name">
                    <p>@package.Quantity @package.PkgName</p>
                </div>
                <div class="order-actPrice">
                    <p data-Ser_id="@package.Ser_Id">$<span>@package.price</span></p>
                </div>

            </div>
        }


    </div>
    <div class="sum-dis">
        <div class="sum-dis-1">
            <h1>
                Discount Code
            </h1>
        </div>

        <div id="dis-apply">

            <input asp-for="PromoCode" placeholder="Enter Code" >
            <span asp-validation-for="PromoCode" class="text-danger" />
            <button type="button">Apply</button>
        </div>

    </div>
    <div class="sum-price">
        <h1>Total:</h1>
        <h1>$@ViewBag.TotalPrice</h1>
        <h1>
            Grand Total
        </h1>
        <h1>
            $<span id="grand-total">@Model.OrderPackages.Sum(x => x.price)</span>
        </h1>
    </div>
    <div class="sum-head2">
        <h1>
            Select Payment Option
        </h1>
    </div>
    <div class="sum-option1 option" id="option1">
        @Html.RadioButtonFor(s => s.PaymentMethod, PaymentMethods.Cash) @Html.Label("Cash")<br />

        @*<img src="http://area.pixelslogodesign.com/OrderSequence/Content/assets/images/payment-1.png" asp-append-version="true" alt="">*@
    </div>
    <div class="sum-option2 option" id="option2">

        @Html.RadioButtonFor(s => s.PaymentMethod, PaymentMethods.Stripe)@Html.Label("Stripe")<br />

        @*<img src="http://area.pixelslogodesign.com/OrderSequence/Content/assets/images/payment-3.png" asp-append-version="true" alt="">*@
    </div>


    <div class="sum-btn">
        <!-- this will set all the values in hidden form and trigger submit -->
        <button type="button" class="btn btn-danger px-2 btn-lg" onclick="PageBack(this.parentElement.parentElement.parentElement)">Back</button>
        <button type="submit" >PROCEED TO CHECKOUT</button> @*id="proceed"*@
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#dis-apply button').click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/Promo/GetPromoDiscount",
                data: {
                    PromoCode: $('#PromoCode').val()
                },
                success: function (data) {
                    const tot = $("#grand-total");
                    const Discount = data.discount;
                    const Ser_Id = data.ser_Id;
                    let DiscountedPriceNode = 0;
                    $('.order-actPrice').each(function (row) {
                        var p = $(this).find('p');
                        if (parseInt(p.attr('data-Ser_id')) == Ser_Id) {
                            DiscountedPriceNode = DiscountedPriceNode + parseFloat(p.find('span').text());
                        }
                    })
                    //DiscountedPriceNode = DiscountedPriceNode - ((Discount / 100) * DiscountedPriceNode)
                    DiscountedPriceNode = ((Discount / 100) * DiscountedPriceNode);
                    var totValue = parseFloat(tot.text());
                    $("#grand-total").text(`${totValue - DiscountedPriceNode}`);
                    $('#dis-apply button').hide();
                },
                failure: function (response) {
                    console.log(response.responseText);
                    $('#dis-apply').find('span').text("Code Invalid or Expired")

                },
                error: function (response) {
                    console.log(response.responseText);
                    $('#dis-apply').find('span').text("Code Invalid or Expired")

                }
            })
        })
     

    });


</script>
