@model SoftwareHouseWeb.ViewModel.ServicesViewModel.ServicesViewModel

@{
    ViewData["Title"] = "Details";
    var photo = "~/Image/Services/" + Model.IconPath;
}

<h1>Details</h1>

<div>
    <h4>ServicesViewModel</h4>
    <hr />
    <dl class="row">
        
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IconPath)
        </dt>
        <dd class="col-sm-10">
            <img src="@photo" asp-append-version="true" />
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
